# Visual Studio
.vs/
.vsconfig

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipa

# Project files
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Source Art
SourceArt/**/*.png
SourceArt/**/*.tga

# =========================
# UE IGNORE
# =========================

# Binaries
Binaries/
Plugins/**/Binaries/

# Build files
Build/

# Packaged builds
PackagedGame/
Windows/
WindowsNoEditor/
Linux/
Mac/

# Saved data (logs, autosaves, etc.)
Saved/

# Intermediate build files
Intermediate/
Plugins/**/Intermediate/

# Derived data cache
DerivedDataCache/

# Map build data
*_BuiltData.uasset

# =========================
# WHITELIST FILES
# =========================

# Keep specific Build config files
!Build/*/
!Build/*/PakBlacklist*.txt

# Keep icons
!Build/**/*.ico
